[submodule "interface/output"]
	path = interface/output
	url = https://github.com/cheeseman-lab/MLLM-Interface-Outputs.git
[submodule "benchmarks/phase1_prompt_benchmarking/benchmarking_outputs"]
	path = benchmarks/phase1_prompt_benchmarking/benchmarking_outputs
	url = https://github.com/cheeseman-lab/MLLM-Analysis-Benchmarking-Outputs2.git
